
[Unit]
Description=ngrok secure tunnel client
ConditionFileIsExecutable=/usr/bin/ngrok

[Service]
StartLimitInterval=5
StartLimitBurst=10
ExecStart=/usr/bin/ngrok "service" "run" "--config" "/root/.config/ngrok/ngrok.yml"

Restart=always
RestartSec=15
EnvironmentFile=-/etc/sysconfig/ngrok
[Install]
WantedBy=multi-user.target
