[Unit]
Description=Mount point for data drive
After=local-fs.target

[Mount]
What=tmpfs
Where=/var/lib/containers/storage
Type=tmpfs

[Install]
WantedBy=multi-user.target
